---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Team from '../../components/Team.astro';
import Benefits from '../../components/Benefits.astro';
import Events from '../../components/Events.astro';
import Blog from '../../components/Blog.astro';
import Join from '../../components/Join.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout lang="pl">
  <Header lang="pl" />
  <main>
    <Hero lang="pl" />
    <About lang="pl" />
    <Team lang="pl" />
    <Benefits lang="pl" />
    <Events lang="pl" />
    <Blog lang="pl" />
    <Join lang="pl" />
    <Contact lang="pl" />
  </main>
  <Footer lang="pl" />
</Layout>